<template name="email">
  <div class="col-sm-6 col-sm-offset-1">
    <label>To</label>
    <input type="text" name="to" class="form-control" placeholder="To ...">
  </div>
  <div class="clearfix"></div>
  <div class="col-sm-6 col-sm-offset-1">
    <label>From</label>
    <input type="text" name="from" class="form-control" placeholder="From ..." value="St George Shuttle <support@mg.shuttletoday.net>">
  </div>
  <div class="clearfix"></div>
  <div class="col-sm-8 col-sm-offset-1">
    <label>Subject</label>
    <input type="text" name="subject" class="form-control" placeholder="Subject ...">
  </div>
  <div class="clearfix"></div>
  <div class="col-sm-10 col-sm-offset-1">
    <label>Html Body</label>
    <textarea id="some-textarea" name="htmlbody" class="form-control" placeholder="Enter text ...">
      <p>write email...</p>
      <br />
      <p>
      <a href="http://www.stgshuttle.com"><img src="http://www.stgshuttle.com/img/logos.jpg" title="Image: St. George Shuttle"></a>
      </p>
      <br /><br />
      <p>If you wish to unsubscribe from this news letter click the following link: %mailing_list_unsubscribe_url%</p>
    </textarea>
  </div>
  <div class="clearfix"></div>
  <div class="col-sm-8 col-sm-offset-1">
    <label>Plain Text</label>
    <textarea id="textarea" name="textbody" class="form-control" placeholder="Enter text ..."></textarea>
  </div>
  <div class="col-sm-7 col-sm-offset-1">
    <button id="sendEmail">Send Email</button>
  </div>
</template>