<head>
	<title>St.George Shuttle Booking</title>
</head>

<body>
</body>

<template name="booking_form"> 
  <h1>Schedule Your Trip</h1>
  
  <form class="form-horizontal">
  <fieldset>
  <div class="row">
  <div class="col-sm-6"> 
        <input type="radio" class="selectReturn" name="round-trip" value="round-trip" checked="checked"> Round-Trip &nbsp;
        <input type="radio" class="selectReturn" name="round-trip" value="one-way"> One-Way
        <p>&nbsp;</p>
        <div class="form-group">
          
          <label class="col-sm-3 control-label">Leave Date:</label>
          <div class="input-append date col-sm-7">
            <input type="text" class="form-control datepicker" id="departDate" value="{{defaultDepartDate}}"><span class="add-on"><i class="icon-th"></i></span>
          </div>
        </div>
        {{#if isReturnTrip}}
        <div class="form-group">
          <label class="col-sm-3 control-label">Return Date:</label>
          <div class="input-append date col-sm-7">
            <input type="text" class="form-control datepicker" id="returnDate" value="{{defaultReturnDate}}"><span class="add-on"><i class="icon-th"></i></span>
          </div>
        </div>
        {{/if}}
        <div class="form-group">
        <label class="col-sm-3 control-label">Pick Up Location:</label>
          <div class="col-sm-7">
          <select id="pickUp" class=" form-control">
            <option value="">Select a location</option>
            <option>Las Vegas</option>
            <option>St. George</option>
            <option>Salt Lake City</option>
            {{#each pick-up}}
              <option>{{name}}</option>
            {{/each}}
          </select>
          </div>  
        </div>
          
        <div class="form-group">
        <label class="col-sm-3 control-label">Drop Off Location:</label>
          <div class="col-sm-7">
          <select id="dropOff" class="form-control">
            <option value="">Select a location</option>
            <option>Las Vegas</option>
            <option>St. George</option>
            <option>Salt Lake City</option>
            {{#each drop-off}}
            <option>{{name}}</option>
            {{/each}}
          </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Passengers</label>
          <div class="col-sm-2">
            <input type="number" class="form-control" id="departurePassengers" value="1" />
          </div>
        </div>
        {{#if isReturnTrip}}
        <div class="form-group">
          <label class="col-sm-3 control-label">Return Passengers</label>
          <div class="col-sm-2">
            <input type="number" class="form-control" id="departurePassengers" value="1" />
          </div>
        </div>
        {{/if}}
    
  </div>
  <div class="col-sm-6">
    {{> shoppingCart}}
    {{> suggestedRuns}}
    <button type="button" id="booking-submit">Submit</button>
  </div>
</div>
</fieldset>
</form>
</template>
<template name="shoppingCart">
  <div style="border: 1px solid black;">
  <h3>Cart</h3>
  </div>
</template>
<template name="suggestedRuns">
  <div style="border: 1px solid black;">
  <h3>Choose Your Ride</h3>
  <table class="table table-condensed bg-white" >
    <thead>
      <tr>
        <th>Time</th>
        <th>Available Seats</th>
        <th>Total Passengers</th>
      </tr>
    </thead>
    <tbody>
      {{#each availableRuns}}
        {{> aRun}}
      {{/each}}
    </tbody>
  </table>
  </div>
</template>
<template name="aRun">
  <tr id='{{_id}}' class="run selected">
    <td>{{time}} ({{ride}}) ({{route}}), {{moment date=date format="MM/DD/YYYY"}}</td>
    <td>{{availableSeats}}</td>
    <td>{{maxPassengers}}</td>
  </tr>
</template>