<template name="driverView">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Filter by date:</label>
      <div class="input-append date col-sm-2">
        <input type="text" class="form-control datepicker" id="runDateFilter" value="{{today}}"><i class="fa fa-calender"></i>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Filter by driver:</label>
      <div class="col-sm-3">
        <select class="form-control" id="driverFilter">
          <option value="">Choose driver</option>  
          <option value="all">All</option>
          {{> driverSelect}}
        </select>
      </div>
    </div>
  </form>
  {{> taxiBookings}}
  <div class="modal fade bs-modal-sm" id="runInfoModal" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="runInfoLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      {{> runInfoModal}}
      </div>
    </div>
  </div>
  
</template>
<template name="taxiBookings">
  <table class="table table-condensed bg-white" >
    <thead>
      <tr>
        <th>Driver</th>
        <th>Run Info</th>
        <th>Customer</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      {{#each taxiBookings}}
        {{> taxiBooking}}
      {{/each}}
    </tbody>
  </table>
  
</template>

<template name="taxiBooking">
  <tr id="{{_id}}"> 
    <td>      
      <div class="form-group">
        <div class="col-sm-12">
          <select class="form-control chooseDriver">
            <option>Choose driver</option>
            {{> driverSelect}}
          </select>
          <strong>Current driver: </strong>{{driver}}
        </div>
      </div>
    </td>
    <td>
      <strong>Delivery Run?:</strong> {{#if delivery}}Yes{{else}}No{{/if}}<br>
      <strong>Mileage:</strong> {{mileage}}<br>
      <strong>Wait Time:</strong> {{waitTime}} minutes<br>
      <strong>Price:</strong> ${{price}}<br>
      <strong>Payment Type:</strong> {{paymentType}}<br><br>
      <!-- Button for Run Info Modal -->  
      <button class="btn btn-primary editRunInfo">
        Edit Run Info
      </button>
    </td>
    <td>
      <strong>Name:</strong> {{name}}<br>
      <strong>Phone:</strong> {{phone}}<br>
      <strong>Email:</strong> {{email}}<br>
    </td>
    <td>
      <strong>Date &amp; Time:</strong> {{pickupDate}}, {{pickupTime}}<br>
      <strong># Passengers:</strong> {{passengerCount}}<br>
      <strong>Pickup:</strong> {{pickupLocation}}<br>
      <strong>Destination:</strong> {{destinationLocation}}<br>
      <strong>Return Ride?:</strong> {{returnRide}}<br>
      <strong>Next Run ID:</strong> {{nextRunId}}<br>
    </td>
  </tr>
</template>
  
<template name="driverSelect">
  {{#each drivers}}
  <option class="driverName">{{profile.name}}</option>
  {{/each}}
</template>

<template name="runInfoModal">
  <!-- Run Info Modal -->
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="runInfoLabel">Run Info</h4>
  </div>
  <div class="modal-body">
    <form class="form">
      <div class="checkbox">
        <label>
          <input type="checkbox" class="isDelivery" {{#if delivery}}checked="checked"{{/if}}>Delivery Run
        </label>
      </div>
      <div class="form-group">
        <label class="control-label">Mileage:</label>
        <div class="input-group">
          <span class="input-group-addon">miles</span>
          <input type="text" class="form-control runMileage" value="{{mileage}}">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">Wait Time:</label>
        <div class="input-group">
          <span class="input-group-addon">minutes</span>
          <input type="text" class="form-control runWaitTime" value="{{waitTime}}">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">Price:</label>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="text" class="form-control runPrice" value="{{price}}">
        </div>
      </div>
      <form class="form-inline" role="form">
        <div class="form-group">
          <label class="control-label">Payment Type:</label>
          
          <input type="radio" class="runPaymentType" name="runPaymentType" value="cash"{{isChecked  paymentType "cash"}}> Cash
          <input type="radio" class="runPaymentType" name="runPaymentType" value="credit" {{isChecked  paymentType "credit"}}> Credit
        </div>
      </form>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" id="saveRunInfo">Save</button>
  </div>
</template>

<!--
<template name="taxiBookingTest">
  <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="{{_id}}">
          {{pickupDate}}, {{pickupTime}} - {{name}}, {{pickupLocation}}
        </a>
      </h4>
    </div>
    <div id="{{_id}}" class="panel-collapse collapse">
      <div class="panel-body">
        <strong>Name:</strong> {{name}}<br>
        <strong>Phone:</strong> {{phone}}<br>
        <strong>Email:</strong> {{name}}<br>
        <strong>Pickup:</strong> {{name}}<br>
        <strong>:</strong> {{name}}<br>
        <strong>Pickup:</strong> {{name}}<br>
      </div>
    </div>
  </div>
  </div>
</template>
-->

