<template name="driverView">
  {{> taxiBookings}}
</template>
<template name="taxiBookings">
  <table class="table table-condensed bg-white" >
    <thead>
      <tr>
        <th>Assign</th>
        <th>Customer</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      {{#each taxiBookings}}
        {{> taxiBooking}}
      {{/each}}
    </tbody>
  </table>
</template>

<template name="taxiBooking">
  <tr>
    <td>
      
      <div class="form-group">
        <div class="col-sm-12">
          <select id="{{_id}}" class="form-control chooseDriver">
            <option>Choose driver</option>
            {{> driverSelect}}
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <button id="{{_id}}" class="assignDriver">Assign</button>
        </div>
      </div>
    </td>
    <td>
      <strong>Name:</strong> {{name}}<br>
      <strong>Phone:</strong> {{phone}}<br>
      <strong>Email:</strong> {{email}}<br>
    </td>
    <td>
      <strong>Date &amp; Time:</strong> {{pickupDate}}, {{pickupTime}}<br>
      <strong># Passengers:</strong> {{passengerCount}}<br>
      <strong>Pickup:</strong> {{pickupLocation}}<br>
      <strong>Destination:</strong> {{destinationLocation}}<br>
      <strong>Return Ride?:</strong> {{returnRide}}<br>
      <strong>Next Run ID:</strong> {{nextRunId}}<br>
    </td>
  </tr>
</template>
  
<template name="driverSelect">
  {{#each driver}}
  <option class="driverName">{{name}}</option>
  {{/each}}
</template>

<!--
<template name="taxiBookingTest">
  <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="{{_id}}">
          {{pickupDate}}, {{pickupTime}} - {{name}}, {{pickupLocation}}
        </a>
      </h4>
    </div>
    <div id="{{_id}}" class="panel-collapse collapse">
      <div class="panel-body">
        <strong>Name:</strong> {{name}}<br>
        <strong>Phone:</strong> {{phone}}<br>
        <strong>Email:</strong> {{name}}<br>
        <strong>Pickup:</strong> {{name}}<br>
        <strong>:</strong> {{name}}<br>
        <strong>Pickup:</strong> {{name}}<br>
      </div>
    </div>
  </div>
  </div>
</template>
-->

