<head>
	<title>Iron County Taxi | Schedule</title>
</head>

<body>
</body>

<template name="taxiBookingForm"> 
  <h1>Schedule A Ride</h1>
  
  <form class="form-horizontal">
  <fieldset>
  <div class="row">
  <div class="col-md-6"> 
        <div class="form-group">
          <label class="col-sm-5 control-label">Your Name:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="fullName" value="">
          </div>
        </div>
        <div class="form-group">
           <label class="col-sm-5 control-label">Phone Number:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="phoneNumber" value="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-5 control-label">Email Address:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="emailAddress" value="">
          </div>
        </div>
        <div class="form-group">
        <label class="col-sm-5 control-label">Pickup Location:</label>
          <div class="col-sm-7">
          <select id="pickupLocation" class=" form-control">
            <option value="Apartment">Apartment</option>
            <option value="Home">Home</option>
            <option value="Cedar City Airport">Cedar City Airport</option>
            <option value="Hotel">Hotel</option>
            <option value="Business">Business</option>
            {{#each pickupLocations}}
              <option>{{name}}</option>
            {{/each}}
          </select>
          </div>  
        </div>
        <div class="form-group">
          <label class="col-sm-5 control-label">Pickup Address:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="pickupAddress" value="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-5 control-label"># of Passengers:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="passengerCount" value="1">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Date:</label>
          <div class="input-append date col-sm-3">
            <input type="text" class="form-control datepicker" id="pickupDate" value="{{today}}">
          </div>
          <label class="col-sm-2 control-label">Time:</label>
          <div class="bootstrap-timepicker col-sm-3">
            <input type="text" class="form-control timepicker" id="pickupTime" value="">
          </div>
        </div>
         <div class="form-group">
        <label class="col-sm-5 control-label">Destination:</label>
          <div class="col-sm-7">
          <select id="destinationLocation" class=" form-control">
            <option value="">Apartment</option>
            <option>Home</option>
            <option>Cedar City Airport</option>
            <option>Hotel</option>
            <option>Business</option>
            {{#each destination}}
              <option>{{name}}</option>
            {{/each}}
          </select>
          </div>  
        </div>
        <div class="form-group">
          <label class="col-sm-5 control-label">Destination Address:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="destinationAddress" value="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-5 control-label">Need a return ride?</label>
          <div class="col-sm-7">
            <input type="radio" class="selectReturnRide" name="return-ride" value="round-trip"> Yes &nbsp;
            <input type="radio" class="selectReturnRide" name="return-ride" value="one-way" checked="checked"> No
          </div>
        </div>
          
        {{#if isReturnRide}}       
        <div class="form-group">
          <label class="col-sm-9 control-label">Are we picking you up where we dropped you off?</label>
          <div class="col-sm-3">
            <input type="radio" class="selectDifferentPickup" name="return-pickup" value="pickupAtDropoff"> Yes &nbsp;
            <input type="radio" class="selectDifferentPickup" name="return-pickup" value="differentPickup"> No
          </div>
        </div>
    
        {{#if isPickupAtDropoff}}
        <div class="form-group">
          <label class ="col-sm-10 col-sm-offset-2">Excellent! Let us know when you would like to be picked up?</label>
          <label class="col-sm-4 control-label">Date:</label>
          <div class="input-append date col-sm-3">
            <input type="text" class="form-control datepicker" id="returnPickupDate" value="{{today}}">
          </div>
          <label class="col-sm-2 control-label">Time:</label>
          <div class="bootstrap-timepicker col-sm-3">
            <input type="text" class="form-control timepicker" id="returnPickupTime" value="">
          </div>
        </div>
        {{/if}}
    
        {{#if isDifferentPickup}}
        <div class="form-group">
          <label class ="col-sm-11 col-sm-offset-1">No Problem! Tell us where and when you would like to be picked up?</label>
          <label class="col-sm-5 control-label">Pickup Location:</label>
          <div class="col-sm-7">
            <select id="returnPickupLocation" class=" form-control">
              <option value="">Apartment</option>
              <option>Home</option>
              <option>Cedar City Airport</option>
              <option>Hotel</option>
              <option>Business</option>
              {{#each pick-up}}
                <option>{{name}}</option>
              {{/each}}
            </select>
          </div>  
        </div>
        <div class="form-group">
          <label class="col-sm-5 control-label">Pickup Address:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="returnPickupAddress" value="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Date:</label>
          <div class="input-append date col-sm-3">
            <input type="text" class="form-control datepicker" id="returnPickupDate" value="{{today}}">
          </div>
          <label class="col-sm-2 control-label">Time:</label>
          <div class="bootstrap-timepicker col-sm-3">
            <input type="text" class="form-control timepicker" id="returnPickupTime" value="">
          </div>
        </div>
        {{/if}}
        {{/if}}
      <button type="button" id="taxiBooking-submit">Submit</button>
  </div>
  <div class="col-sm-6">
    {{#if isInRole "developer,beta"}}
    {{> taxiCart}}
    {{> drivers}}
    
    <!--{{> taxiBookings}}-->
    {{/if}}
  </div>
</div>
</fieldset>
</form>
</template>

<template name="taxiCart">
  <div style="border: 1px solid black;">
  <h3>Cart</h3>
    <div>Estimated Cost: <span>{{cartTotal}}</span></div>
  </div>
</template>

<template name="drivers">
  <h2>Drivers</h2>
  {{#each drivers}}
  <div class="driver">{{name}}</div>
  {{/each}}
</template>

<!-- Use for reference
<template name="suggestedRuns">
  <div style="border: 1px solid black;">
  <h3>Choose Your Ride</h3>
  <table class="table table-condensed bg-white" >
    <thead>
      <tr>
        <th>Time</th>
        <th>Available Seats</th>
        <th>Total Passengers</th>
      </tr>
    </thead>
    <tbody>
      {{#each availableRuns}}
        {{> aRun}}
      {{/each}}
    </tbody>
  </table>
  </div>
</template>
<template name="aRun">
  <tr id='{{_id}}' class="run selected">
    <td>{{time}} ({{ride}}) ({{route}}), {{moment date=date format="MM/DD/YYYY"}}</td>
    <td>{{availableSeats}}</td>
    <td>{{maxPassengers}}</td>
  </tr>
</template>
-->

