<template name="taxiHome" xmlns="http://www.w3.org/1999/html">
  <div class='site-block cta'>
    <div id="services">
      <h2>Iron County Taxi Services</h2>
        </div>
      <h3>We'll get you there to and from any destination in Iron County 24/7</h3>
    </div>

  <div class='site-block'>
    <div class="site-width">

        <img src="images/icons/ico-timer.png" alt="southern utah taxi" class='icon' />
        <header>
          <h2 class='title'>Call to book a taxi<br>
  24 hours a day, 7 days a week</h2>
          </header>

      <section class='one-third centered fadein'>
        <img src="images/icons/ico-road.png" alt="cedar city taxi" class='img-circle' />
        <header>
          <h2 class='title'>With the Iron County Taxi you<br>
  get where you need to go.</h2>
        </header>

      </section>
      <div>
        <img src="images/icons/ico-pin.png" alt="iron county taxi" class='icon' />

          <h2 class='title'>Clean, safe and reliable taxis <br>
  get you where you want to go.</h2>
      </div>
    </div>
  </div>
</template>