<template name="runHistory">
  <form class="form-inline">
    <div class="form-group">
      <label class="col-sm-4 control-label">Enter Date:</label>
      <div class="input-append date col-sm-5">
        <input type="text" class="form-control" id="selectedDate"><span class="add-on"><i class="icon-th"></i></span>
      </div>
      <button type="button" id="runsButton">Go</button>
    </div>
  </form>
  
  <table class="table table-condensed bg-white" >
    <thead>
      <tr>
        <th>Run</th>
        <th>Date</th>  
        <th># Passengers</th>
        <th>Max Passengers</th>
      </tr>
    </thead>
    <tbody>
      {{#each matchingRuns}}
        {{> run}}
      {{/each}}
    </tbody>
  </table>
</template>
<template name="run">
  <tr id='{{_id}}' class="{{checkPassengerLimit}}">
    <td>{{time}}, {{route}}</td>
    <td>{{moment date=date format="MM/DD/YYYY"}}</td>
    {{#with fieldToObject 'passengers'}}
      {{> tableField}}
    {{/with}}
    {{#with fieldToObject 'maxPassengers'}}
      {{> tableField}}
    {{/with}}
  </tr>
</template>
<template name="tableField">
  {{#if editing}}
  <td class="edit"><div><input type="text" data-fieldname="{{this.fieldName}}" value="{{this.value}}" /></div></td>  
  {{else}}
  <td class="edit">{{this.value}}</td>
  {{/if}}
</template>